.container {
  width: 650px;
  height: 650px;
  margin: auto;
}

.settings {
  height: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
}

.settings-player-1, .settings-player-2 {
  align-self: center;
  text-align: center;
}

.input-box {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

input {
  height: 20px;
}

.submit-button {
  cursor: pointer;
  background-color: black;
  color: white;
  border: none;
}

.settings-reset-button {
  margin: auto;
}

.reset-game-button {
  cursor: pointer;
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
}

.infos {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: center;
}

.gameboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  border: 2px solid black;
  width: 350px;
  height: 350px;
  margin: auto;
}

.gameboard div {
  cursor: pointer;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 70px;
  font-weight: bold;
}