/* Main Container */

.container {
  width: 650px;
  height: 650px;
  margin: auto;
}


/* Start Menu */

.start-menu {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.player-selection-container {
  gap: 20px;
  display: flex;
}

.player-1, .player-2 {
  text-align: center;
}

.player-input-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

input {
  height: 20px;
}

.player-submit-btn, .game-start-btn {
  cursor: pointer;
  background-color: black;
  color: white;
  border: none;
}

.game-start-btn {
  padding: 10px 140px;
  font-size: 24px;
}


/* Gaming interface */

.game-reset-container {
  margin-top: 50px;
  display: none;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
}

.game-reset-btn {
  display: none;
  cursor: pointer;
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
}

.infos {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: center;
}

.gameboard {
  display: none;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  border: 2px solid black;
  width: 350px;
  height: 350px;
  margin: auto;
}

.gameboard div {
  cursor: pointer;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 70px;
  font-weight: bold;
}